html {
  background-size: auto;
}

body {
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  width: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 30px;
  background-color: rgb(245, 247, 250);
}

.main {
  position: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  display: flex;
  padding: 15px 0;
  font-size: 1rem;
  color: #595959;
}

form {
  margin: 5px;
  display: flex;
}

input[type='text'] {
  height: 30px;
  outline: 0;
  border: none;
  /* border-radius: 3px; */
  border-bottom: 0.5px solid whitesmoke;
  font-size: 1rem;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  color: #595959;
  flex-grow: 1;
  padding: 8px;
  padding-right: 0px;
}

input {
  text-indent: 17px;
}

button {
  /* border-radius: 3px; */
  background-color: #ffffff;
  outline: 0;
  border: none;
  color: #595959;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

button:hover {
  color: lightcoral;
}

.reserved-words {
  margin: 5px;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 15px 25px;
  height: 100%;
  overflow-y: auto;
}

.words {
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  flex-grow: 1;
  padding-top: 1.125px;
  padding-right: 5px;
}

.delete {
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  text-align: center;
}

#block {
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  margin: 5px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

#x-img {
  z-index: -9999;
  width: 100%;
}

#a-img {
  padding-right: 20px;
}

#submit {
  padding: 0;
  padding-top: 3.5px;
  height: 45.5px;
}
